body {
    font-family: monospace;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.editor-container {
    display: flex;
    width: 100%;
    height: 90vh;
    background-color: #fff;
    border: 1px solid #ccc;
}

.line-numbers, .ascii-output {
    padding: 10px;
    background-color: #f7f7f7;
    color: #999;
    text-align: right;
    white-space: pre;
    flex-shrink: 0;
    overflow-y: auto;
    font-size: 14px;
    line-height: 1.5;
}

.line-numbers{
    width: 80px;
    font-size: 14px;
    line-height: 1.5;
}

.ascii-output{
    width: 240px;
    text-align: left;
    font-size: 14px;
    line-height: 1.5;
}

.hex-input {
    flex-grow: 1;
    border: none;
    padding: 10px;
    font-family: monospace;
    font-size: 14px;
    line-height: 1.5;
    resize: none;
    outline: none;
    white-space: pre;
    overflow-x: hidden;
    overflow-y: scroll;
}
