<!DOCTYPE html>
<html>
<head>
    <title>Hex Edit</title>
    <link rel="stylesheet" href="/static/css/main.css" />
    <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="static/js/hex_2_ascii.js" type="text/javascript"></script>
    <script type="text/javascript">
        $("document").ready(function() {
            $("#hexinput").on("click", onMouseClickHexInput);
        });
        function onMouseClickHexInput(evt) {
            var hexContent = hexToAscii($("#hexinput").val());
            $("#hexinfo").text("Content is: " + hexContent);
        }
    </script>
</head>

<body>

<form action="/action.php" method="post">
<p> Enter hex. Click on box to format it</p>
<textarea id="hexinput" cols="100" name="comments" rows="20">Hex</textarea><br />
<div id="hexinfo">
</div>
<input type="submit" value="Format Hex" />
</form>

<div class="container">
  <form action="/tcp" method="post">
 <div class="row">
    <div class="col-25">
      <label for="dport">Destination port</label>
    </div>
    <div class="col-75">
      <input type="text" id="dport" name="dport" value="80" type="number" min="0" step="1" max="65535" size="5">
    </div>
  </div>
</div>



</body>

</html>
